/* ROOT */

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 1440px;
  margin: auto;
}

/* WELCOME PAGE */

.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navigation {
  width: 100%;
}

.navi {
  display: flex;
  align-items: center;
}

.header__position {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 15px;
  min-width: 320px;
}

.header__menu {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 50px;
}

.header__menu__list {
  list-style: none;
  color: #444;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__menu__text {
  display: flex;
  color: #444;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  justify-content: center;
}

.logo__rectangle {
  width: 305px;
  height: 61px;
  background-color: #ffc31d;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  display: flex;
}

.logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
}

.header__icon__svg {
  width: 29px;
  height: 29px;
  fill: black;
}

.header__icon__link {
  margin-left: 81px;
}
